<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlazar83.sopronievangelikus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".ImagePickerActiviy" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SendNotificationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaFZ2tehk9I0Zi_iqqtBpS6R51E785WK8" />
    </application>

</manifest>